In [1]:
# Import necessary libraries
import warnings
warnings.filterwarnings('ignore')

import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
%matplotlib inline
from matplotlib.pylab import rcParams
plt.style.use('fivethirtyeight')

#Lets not touch fbprophet in this env. Creating a new fbprophet vanilla env to work in
# from fbprophet import Prophet as proph

In [2]:
#load the data

df_zillow_77084 = pd.read_csv('df_zillow_77084.csv')

df_zillow_77084.head()

,Unnamed: 0,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300

In [3]:
df_zillow_77084.columns

Index(['Unnamed: 0', 'RegionID', 'RegionName', 'City', 'State', 'Metro',
       'CountyName', 'SizeRank', '1996-04', '1996-05',
       ...
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04'],
      dtype='object', length=273)

In [4]:
#Drop unnamed column then melt it
df_zillow_77084 = df_zillow_77084.drop(labels='Unnamed: 0', axis=1)

In [5]:
df_zillow_77084.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300

In [6]:
# def get_datetimes(df):
#     return pd.to_datetime(df.columns.values[7:], format='%Y-%m')
# yea = get_datetimes(df_zillow_77084)

In [7]:
#melt it

df_zillow_1 = pd.melt(df_zillow_77084, id_vars=['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'])

In [8]:
type(df_zillow_1['variable'])

pandas.core.series.Series

In [11]:
df_zillow_1

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,variable,value
0,91733,77084,Houston,TX,Houston,Harris,6,1996-04,95000.0
1,91733,77084,Houston,TX,Houston,Harris,6,1996-05,95200.0
2,91733,77084,Houston,TX,Houston,Harris,6,1996-06,95400.0
3,91733,77084,Houston,TX,Houston,Harris,6,1996-07,95700.0
4,91733,77084,Houston,TX,Houston,Harris,6,1996-08,95900.0
...,...,...,...,...,...,...,...,...,...
260,91733,77084,Houston,TX,Houston,Harris,6,2017-12,162800.0
261,91733,77084,Houston,TX,Houston,Harris,6,2018-01,162800.0
262,91733,77084,Houston,TX,Houston,Harris,6,2018-02,162900.0
263,91733,77084,Houston,TX,Houston,Harris,6,2018-03,163500.0
264,91733,77084,Houston,TX,Houston,Harris,6,2018-04,164300.0

In [9]:
df_zillow_1['value']

0       95000.0
1       95200.0
2       95400.0
3       95700.0
4       95900.0
         ...
260    162800.0
261    162800.0
262    162900.0
263    163500.0
264    164300.0
Name: value, Length: 265, dtype: float64

In [19]:
new_cols = ['ds','y']
new_vals = [df_zillow_1['variable'], df_zillow_1['value'] ]


df = pd.DataFrame()
df = df.reindex(columns=df.columns.tolist() + new_cols)   # add empty cols
df['ds'] = df_zillow_1['variable']  # multi-column assignment works for existing cols
df['y'] = df_zillow_1['value']

type(df['ds'])

pandas.core.series.Series

In [21]:


#We need to change 'ds' columns to datetime
# df_zillow_1.variable = pd.to_datetime(df_zillow_1.variable, format='%Y-%m')

df['ds'] = pd.to_datetime(df.ds, format='%Y-%m')
type(df['ds'])
df.info()

#good, now it is datetime Dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      265 non-null    datetime64[ns]
 1   y       265 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.3 KB

In [22]:
df.to_csv('df_zillow_77084_prepped_fbprophet.csv')