In [1]:
# Import necessary libraries
import warnings
warnings.filterwarnings('ignore')

import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
%matplotlib inline
from matplotlib.pylab import rcParams
plt.style.use('fivethirtyeight')

#Lets not touch fbprophet in this env. Creating a new fbprophet vanilla env to work in
# from fbprophet import Prophet as proph

In [2]:
#load the data

df_zillow_77084 = pd.read_csv('df_zillow_77084.csv')

df_zillow_77084.head()

,Unnamed: 0,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300

In [3]:
df_zillow_77084.columns

Index(['Unnamed: 0', 'RegionID', 'RegionName', 'City', 'State', 'Metro',
       'CountyName', 'SizeRank', '1996-04', '1996-05',
       ...
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04'],
      dtype='object', length=273)

In [4]:
#Drop unnamed column then melt it
df_zillow_77084 = df_zillow_77084.drop(labels='Unnamed: 0', axis=1)

In [5]:
df_zillow_77084.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300

In [6]:
# def get_datetimes(df):
#     return pd.to_datetime(df.columns.values[7:], format='%Y-%m')
# yea = get_datetimes(df_zillow_77084)

In [7]:
#melt it

df_zillow_1 = pd.melt(df_zillow_77084, id_vars=['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'])

In [50]:
df_zillow_1['variable']

0      1996-04
1      1996-05
2      1996-06
3      1996-07
4      1996-08
5      1996-09
6      1996-10
7      1996-11
8      1996-12
9      1997-01
10     1997-02
11     1997-03
12     1997-04
13     1997-05
14     1997-06
15     1997-07
16     1997-08
17     1997-09
18     1997-10
19     1997-11
20     1997-12
21     1998-01
22     1998-02
23     1998-03
24     1998-04
25     1998-05
26     1998-06
27     1998-07
28     1998-08
29     1998-09
30     1998-10
31     1998-11
32     1998-12
33     1999-01
34     1999-02
35     1999-03
36     1999-04
37     1999-05
38     1999-06
39     1999-07
40     1999-08
41     1999-09
42     1999-10
43     1999-11
44     1999-12
45     2000-01
46     2000-02
47     2000-03
48     2000-04
49     2000-05
50     2000-06
51     2000-07
52     2000-08
53     2000-09
54     2000-10
55     2000-11
56     2000-12
57     2001-01
58     2001-02
59     2001-03
60     2001-04
61     2001-05
62     2001-06
63     2001-07
64     2001-08
65     2001-09
66     2001-10
67     2001-11
68     2001-12
69     2002-01
70     2002-02
71     2002-03
72     2002-04
73     2002-05
74     2002-06
75     2002-07
76     2002-08
77     2002-09
78     2002-10
79     2002-11
80     2002-12
81     2003-01
82     2003-02
83     2003-03
84     2003-04
85     2003-05
86     2003-06
87     2003-07
88     2003-08
89     2003-09
90     2003-10
91     2003-11
92     2003-12
93     2004-01
94     2004-02
95     2004-03
96     2004-04
97     2004-05
98     2004-06
99     2004-07
100    2004-08
101    2004-09
102    2004-10
103    2004-11
104    2004-12
105    2005-01
106    2005-02
107    2005-03
108    2005-04
109    2005-05
110    2005-06
111    2005-07
112    2005-08
113    2005-09
114    2005-10
115    2005-11
116    2005-12
117    2006-01
118    2006-02
119    2006-03
120    2006-04
121    2006-05
122    2006-06
123    2006-07
124    2006-08
125    2006-09
126    2006-10
127    2006-11
128    2006-12
129    2007-01
130    2007-02
131    2007-03
132    2007-04
133    2007-05
134    2007-06
135    2007-07
136    2007-08
137    2007-09
138    2007-10
139    2007-11
140    2007-12
141    2008-01
142    2008-02
143    2008-03
144    2008-04
145    2008-05
146    2008-06
147    2008-07
148    2008-08
149    2008-09
150    2008-10
151    2008-11
152    2008-12
153    2009-01
154    2009-02
155    2009-03
156    2009-04
157    2009-05
158    2009-06
159    2009-07
160    2009-08
161    2009-09
162    2009-10
163    2009-11
164    2009-12
165    2010-01
166    2010-02
167    2010-03
168    2010-04
169    2010-05
170    2010-06
171    2010-07
172    2010-08
173    2010-09
174    2010-10
175    2010-11
176    2010-12
177    2011-01
178    2011-02
179    2011-03
180    2011-04
181    2011-05
182    2011-06
183    2011-07
184    2011-08
185    2011-09
186    2011-10
187    2011-11
188    2011-12
189    2012-01
190    2012-02
191    2012-03
192    2012-04
193    2012-05
194    2012-06
195    2012-07
196    2012-08
197    2012-09
198    2012-10
199    2012-11
200    2012-12
201    2013-01
202    2013-02
203    2013-03
204    2013-04
205    2013-05
206    2013-06
207    2013-07
208    2013-08
209    2013-09
210    2013-10
211    2013-11
212    2013-12
213    2014-01
214    2014-02
215    2014-03
216    2014-04
217    2014-05
218    2014-06
219    2014-07
220    2014-08
221    2014-09
222    2014-10
223    2014-11
224    2014-12
225    2015-01
226    2015-02
227    2015-03
228    2015-04
229    2015-05
230    2015-06
231    2015-07
232    2015-08
233    2015-09
234    2015-10
235    2015-11
236    2015-12
237    2016-01
238    2016-02
239    2016-03
240    2016-04
241    2016-05
242    2016-06
243    2016-07
244    2016-08
245    2016-09
246    2016-10
247    2016-11
248    2016-12
249    2017-01
250    2017-02
251    2017-03
252    2017-04
253    2017-05
254    2017-06
255    2017-07
256    2017-08
257    2017-09
258    2017-10
259    2017-11
260    2017-12
261    2018-01
262    2018-02
263    2018-03
264    2018-04
Name: variable, dtype: object

In [9]:
df_zillow_1

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,variable,value
0,91733,77084,Houston,TX,Houston,Harris,6,1996-04,95000.0
1,91733,77084,Houston,TX,Houston,Harris,6,1996-05,95200.0
2,91733,77084,Houston,TX,Houston,Harris,6,1996-06,95400.0
3,91733,77084,Houston,TX,Houston,Harris,6,1996-07,95700.0
4,91733,77084,Houston,TX,Houston,Harris,6,1996-08,95900.0
...,...,...,...,...,...,...,...,...,...
260,91733,77084,Houston,TX,Houston,Harris,6,2017-12,162800.0
261,91733,77084,Houston,TX,Houston,Harris,6,2018-01,162800.0
262,91733,77084,Houston,TX,Houston,Harris,6,2018-02,162900.0
263,91733,77084,Houston,TX,Houston,Harris,6,2018-03,163500.0
264,91733,77084,Houston,TX,Houston,Harris,6,2018-04,164300.0

In [10]:
df_zillow_1['value']

0       95000.0
1       95200.0
2       95400.0
3       95700.0
4       95900.0
         ...
260    162800.0
261    162800.0
262    162900.0
263    163500.0
264    164300.0
Name: value, Length: 265, dtype: float64

In [11]:
new_cols = ['ds','y']
new_vals = [df_zillow_1['variable'], df_zillow_1['value']]


df = pd.DataFrame()
df = df.reindex(columns=df.columns.tolist() + new_cols)   # add empty cols
df['ds'] = df_zillow_1['variable']  # multi-column assignment works for existing cols
df['y'] = df_zillow_1['value']

type(df['ds'])

pandas.core.series.Series

In [15]:
df.head()

          ds        y
0 1996-04-01  95000.0
1 1996-05-01  95200.0
2 1996-06-01  95400.0
3 1996-07-01  95700.0
4 1996-08-01  95900.0

In [12]:


#We need to change 'ds' columns to datetime
# df_zillow_1.variable = pd.to_datetime(df_zillow_1.variable, format='%Y-%m')

df['ds'] = pd.to_datetime(df.ds, format='%Y-%m')
type(df['ds'])
df.info()

#good, now it is datetime Dtype

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      265 non-null    datetime64[ns]
 1   y       265 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.3 KB

In [13]:
df.to_csv('df_zillow_77084_prepped_fbprophet.csv')

In [51]:
list_of_zip_excels = ['df_zillow_77036', 'df_zillow_77077', 'df_zillow_77082', 'df_zillow_77084', 'df_zillow_77095']

for excel in list_of_zip_excels:
    
    excel_df = pd.read_csv(excel + '.csv')
    excel_df = excel_df.drop(labels='Unnamed: 0', axis=1)
    excel_df = pd.melt(excel_df, id_vars=['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'])
    
    df_prepped = pd.DataFrame()
    df_prepped['ds'] = excel_df['variable']  # multi-column assignment works for existing cols
#     df_prepped['ds'] = pd.to_datetime(df_prepped['ds'], format='%Y-%m')
    df_prepped['y'] = excel_df['value']
    df_prepped.to_csv((str(excel) + '_prepped_fbprophet' + '.csv'),index=False)

In [52]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df_zillow_77084 = pd.read_csv('df_zillow_77084_prepped_fbprophet.csv')
df_zillow_77084

          ds         y
0    1996-04   95000.0
1    1996-05   95200.0
2    1996-06   95400.0
3    1996-07   95700.0
4    1996-08   95900.0
5    1996-09   96100.0
6    1996-10   96200.0
7    1996-11   96100.0
8    1996-12   96000.0
9    1997-01   95800.0
10   1997-02   95500.0
11   1997-03   95300.0
12   1997-04   95100.0
13   1997-05   95100.0
14   1997-06   95200.0
15   1997-07   95400.0
16   1997-08   95600.0
17   1997-09   95800.0
18   1997-10   96000.0
19   1997-11   96200.0
20   1997-12   96400.0
21   1998-01   96500.0
22   1998-02   96600.0
23   1998-03   96600.0
24   1998-04   96700.0
25   1998-05   96900.0
26   1998-06   97000.0
27   1998-07   97200.0
28   1998-08   97500.0
29   1998-09   97900.0
30   1998-10   98500.0
31   1998-11   99400.0
32   1998-12  100500.0
33   1999-01  101800.0
34   1999-02  103100.0
35   1999-03  104100.0
36   1999-04  104800.0
37   1999-05  105100.0
38   1999-06  105200.0
39   1999-07  105200.0
40   1999-08  105000.0
41   1999-09  104800.0
42   1999-10  104700.0
43   1999-11  104700.0
44   1999-12  104800.0
45   2000-01  105000.0
46   2000-02  105100.0
47   2000-03  105100.0
48   2000-04  105200.0
49   2000-05  105200.0
50   2000-06  105300.0
51   2000-07  105500.0
52   2000-08  105600.0
53   2000-09  105700.0
54   2000-10  105800.0
55   2000-11  106000.0
56   2000-12  106000.0
57   2001-01  106000.0
58   2001-02  106000.0
59   2001-03  106100.0
60   2001-04  106200.0
61   2001-05  106500.0
62   2001-06  106800.0
63   2001-07  107300.0
64   2001-08  107700.0
65   2001-09  108100.0
66   2001-10  108500.0
67   2001-11  108900.0
68   2001-12  109300.0
69   2002-01  109600.0
70   2002-02  109900.0
71   2002-03  110400.0
72   2002-04  110900.0
73   2002-05  111500.0
74   2002-06  112000.0
75   2002-07  112600.0
76   2002-08  113100.0
77   2002-09  113500.0
78   2002-10  113900.0
79   2002-11  114200.0
80   2002-12  114400.0
81   2003-01  114700.0
82   2003-02  114900.0
83   2003-03  115200.0
84   2003-04  115500.0
85   2003-05  115800.0
86   2003-06  116100.0
87   2003-07  116500.0
88   2003-08  116900.0
89   2003-09  117300.0
90   2003-10  117600.0
91   2003-11  117900.0
92   2003-12  118500.0
93   2004-01  119400.0
94   2004-02  120400.0
95   2004-03  121200.0
96   2004-04  121900.0
97   2004-05  122400.0
98   2004-06  122700.0
99   2004-07  123000.0
100  2004-08  123400.0
101  2004-09  123800.0
102  2004-10  124200.0
103  2004-11  124700.0
104  2004-12  125300.0
105  2005-01  125800.0
106  2005-02  126200.0
107  2005-03  126500.0
108  2005-04  126700.0
109  2005-05  126800.0
110  2005-06  126700.0
111  2005-07  126500.0
112  2005-08  126300.0
113  2005-09  126100.0
114  2005-10  126000.0
115  2005-11  126100.0
116  2005-12  126200.0
117  2006-01  126200.0
118  2006-02  126400.0
119  2006-03  126600.0
120  2006-04  126800.0
121  2006-05  127100.0
122  2006-06  127400.0
123  2006-07  127700.0
124  2006-08  127900.0
125  2006-09  128100.0
126  2006-10  128200.0
127  2006-11  128400.0
128  2006-12  128500.0
129  2007-01  128600.0
130  2007-02  128700.0
131  2007-03  129000.0
132  2007-04  129300.0
133  2007-05  129700.0
134  2007-06  130300.0
135  2007-07  130800.0
136  2007-08  131400.0
137  2007-09  131800.0
138  2007-10  132100.0
139  2007-11  132300.0
140  2007-12  132100.0
141  2008-01  131500.0
142  2008-02  130700.0
143  2008-03  129600.0
144  2008-04  128600.0
145  2008-05  127600.0
146  2008-06  126700.0
147  2008-07  126000.0
148  2008-08  125500.0
149  2008-09  125100.0
150  2008-10  124800.0
151  2008-11  124500.0
152  2008-12  124300.0
153  2009-01  124100.0
154  2009-02  123900.0
155  2009-03  123600.0
156  2009-04  123200.0
157  2009-05  122700.0
158  2009-06  122300.0
159  2009-07  122100.0
160  2009-08  122200.0
161  2009-09  122300.0
162  2009-10  122400.0
163  2009-11  122500.0
164  2009-12  122600.0
165  2010-01  122700.0
166  2010-02  122800.0
167  2010-03  122900.0
168  2010-04  122900.0
169  2010-05  122700.0
170  2010-06  122500.0
171  2010-07  122100.0
172  2010-08  121700.0
173  2010-09  121400.0
174  2010-10  120800.0
175  2010-11  119900.0
176  2010-12  119200.0
177  2011-01  118800.0
178  2011-02  118300.0
179  2011-03  118200.0
180  2011-04  118100.0
181  2011-05  118000.0
182  2011-06  117700.0
183  2011-07  117100.0
184  2011-08  116100.0
185  2011-09  115400.0
186  2011-10  115000.0
187  2011-11  114800.0
188  2011-12  114100.0
189  2012-01  113200.0
190  2012-02  112800.0
191  2012-03  112600.0
192  2012-04  112000.0
193  2012-05  111800.0
194  2012-06  111700.0
195  2012-07  111700.0
196  2012-08  111800.0
197  2012-09  111800.0
198  2012-10  111600.0
199  2012-11  111700.0
200  2012-12  111900.0
201  2013-01  112400.0
202  2013-02  113000.0
203  2013-03  113500.0
204  2013-04  114100.0
205  2013-05  115100.0
206  2013-06  116500.0
207  2013-07  118300.0
208  2013-08  120000.0
209  2013-09  121200.0
210  2013-10  122000.0
211  2013-11  122700.0
212  2013-12  123500.0
213  2014-01  124200.0
214  2014-02  124900.0
215  2014-03  125900.0
216  2014-04  127100.0
217  2014-05  128200.0
218  2014-06  129400.0
219  2014-07  130300.0
220  2014-08  130900.0
221  2014-09  131900.0
222  2014-10  133300.0
223  2014-11  134800.0
224  2014-12  136200.0
225  2015-01  137700.0
226  2015-02  138900.0
227  2015-03  139900.0
228  2015-04  141000.0
229  2015-05  142100.0
230  2015-06  142900.0
231  2015-07  143900.0
232  2015-08  145200.0
233  2015-09  146200.0
234  2015-10  146900.0
235  2015-11  147600.0
236  2015-12  148500.0
237  2016-01  149600.0
238  2016-02  150600.0
239  2016-03  151200.0
240  2016-04  151800.0
241  2016-05  153000.0
242  2016-06  154400.0
243  2016-07  155200.0
244  2016-08  155500.0
245  2016-09  155400.0
246  2016-10  155000.0
247  2016-11  155100.0
248  2016-12  155900.0
249  2017-01  156500.0
250  2017-02  156900.0
251  2017-03  157300.0
252  2017-04  157600.0
253  2017-05  157700.0
254  2017-06  157700.0
255  2017-07  157900.0
256  2017-08  158700.0
257  2017-09  160200.0
258  2017-10  161900.0
259  2017-11  162800.0
260  2017-12  162800.0
261  2018-01  162800.0
262  2018-02  162900.0
263  2018-03  163500.0
264  2018-04  164300.0

In [53]:
df_zillow_77084.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ds      265 non-null    object
 1   y       265 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.3+ KB