In [28]:
# Import necessary libraries
import warnings
warnings.filterwarnings('ignore')

import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
%matplotlib inline
from matplotlib.pylab import rcParams
plt.style.use('fivethirtyeight')
from fbprophet import Prophet as proph

In [29]:
#load the data

df_zillow_77084 = pd.read_csv('df_zillow_77084.csv')

df_zillow_77084.head()

,Unnamed: 0,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300

In [30]:
df_zillow_77084.columns

Index(['Unnamed: 0', 'RegionID', 'RegionName', 'City', 'State', 'Metro',
       'CountyName', 'SizeRank', '1996-04', '1996-05',
       ...
       '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
       '2018-01', '2018-02', '2018-03', '2018-04'],
      dtype='object', length=273)

In [31]:
#Drop unnamed column then melt it
df_zillow_77084 = df_zillow_77084.drop(labels='Unnamed: 0', axis=1)

In [32]:
df_zillow_77084.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300

In [33]:
# def get_datetimes(df):
#     return pd.to_datetime(df.columns.values[7:], format='%Y-%m')
# yea = get_datetimes(df_zillow_77084)

In [34]:
#melt it

df_zillow_1 = pd.melt(df_zillow_77084, id_vars=['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'])

In [35]:
type(df_zillow_1['variable'])

pandas.core.series.Series

In [36]:
df_zillow_1['value']

0       95000.0
1       95200.0
2       95400.0
3       95700.0
4       95900.0
         ...
260    162800.0
261    162800.0
262    162900.0
263    163500.0
264    164300.0
Name: value, Length: 265, dtype: float64

In [37]:
df_zillow_fb_1 =

SyntaxError: invalid syntax (<ipython-input-37-6f7deb838cb9>, line 1)